img{
    border-radius: 50%;
    width: 200px;
}
.jumbotron{
    background-image: url(../images/twinkling\ stars.gif);
    padding: 6px;
    border: 4px ridge;
}
h1{
    text-align: center;
}
body{
    background-color: chartreuse;
}
.header-container{
    background-image: url(../images/twinkling\ stars.gif);
    display: flex;
    justify-content: center;
}
.col-md-7{
    background-color: coral;
    border: 1px solid black;
}
